[Unit]
Description=AutoMarkWatched Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/amw/
ExecStart=/usr/local/bin/gunicorn -c /opt/amw/gunicorn_config.py automarkwatched.wsgi
User=root

[Install]
WantedBy=multi-user.target
