.hidden {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.table-fit {
    white-space: nowrap;
    width: 1px;
}

a:hover {
    text-decoration: none;
}
